:root {
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --call-to-action-color: #3778FA;
    --question-area-background-color: #f3f3f3;
    --answer-text-color: #65676C;
    --h1-font-size: 46px;
    --h2-font-size: 30px;
    --h3-font-size: 30px;
    --h4-font-size: 20px;
    --h5-font-size: 16px;
}

* {
    margin: 0;
}

body {
    background-color: var(--background-color);
    box-sizing: border-box;
    font-family: 'Space Grotesk', sans-serif;
}

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--h3-font-size);
}

h4 {
    font-size: var(--h4-font-size);
    font-weight: 600;
}

h5 {
    font-size: var(--h5-font-size);
    font-weight: 500;
}

.header-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
}

.header-data h4 {
    color: var(--call-to-action-color);
}

.header-buttons {
    display: none;
}

.header-CTA-buttons {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    gap: 110px;
    padding: 60px 20px;
}

.introduction-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introduction-texts {
    padding: 0px 18px;
}

.introduction-texts h1 {
    text-align: center;
    letter-spacing: -4%;
}

.introduction-texts p {
    text-align: center;
    font-size: 14px;
    padding: 30px 0px;
}

.introduction-section img {
    margin-top: 20px;
    width: 100%;
}

.introductory-video-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.introductory-video-section h2 {
    text-align: center;
}

.introductory-video-section img {
    border-radius: 16px;
    width: 100%;
}

.question-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.question-section h2 {
    text-align: center;
}

.questions-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--question-area-background-color);
    padding: 50px 22px 70px 22px;
    border-radius: 20px;
    gap: 40px;
}

.desktop-question-image {
    display: none;
    padding-right: 99px;
}

.questions-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 0px 10px;
}

.question-closed {
    display: flex;
    flex-direction: row;
    align-items: center;    
    padding: 16px 10px;
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 8px;
}

.question-closed span {
    margin-left: auto;
}

.question-opened {
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
    padding: 16px 10px;
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 8px;
}

.question {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.question span {
    margin-left: auto;
    line-height: 2px;
    padding-bottom: 16px;
    color: var(--call-to-action-color);
}

.answer {
    margin-top: 6px;
    margin-right: 30%;
}

.answer p {
    color: var(--answer-text-color);
    font-size: 10px;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: var(--call-to-action-color);
    border-radius: 20px 20px 0px 0px;
    padding: 68px 20px 30px 20px;
    gap: 80px;
}

.learn-more-section {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--primary-color);
    padding-bottom: 80px;
    padding-right: 30%;
}

.learn-more-section h1 {
    color: var(--primary-color);
    padding-bottom: 21px;
}

.learn-more-section p {
    font-size: 14px;
    color: var(--primary-color);
    padding-bottom: 27px;
}

.learn-more-section a {
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    color: var(--secondary-color);
    padding: 13px 21px;
    margin-right: auto;
    background-color: var(--primary-color);
    border-radius: 100px;
}

.general-site-links-section {
    display: flex;
    flex-flow: row wrap;
    gap: 58px;
}

.general-site-links-introduction {
    width: 50%;
    margin-right: 28px
}

.general-site-links-introduction h3{
    font-size: var(--h3-font-size);
    color: var(--primary-color);
    font-weight: 500;
    padding-bottom: 17px;
}

.general-site-links-introduction p{
    font-size: 14px;
    color: var(--primary-color);
    font-weight: 300;
    line-height: 22px;
}

.desktop-all-links {
    display: none;
}

.links-group-explore {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 300;
    color: var(--primary-color);
    width: calc(100% / 3 - 58px);
    gap: 22px;
}

.mobile-botton-links {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.links-group {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-weight: 300;
    color: var(--primary-color);
    width: auto;
    padding-top: 11px;
    gap: 22px;
}

.copy-right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.copy-right-section p {
    color: var(--primary-color);
    font-weight: 300;
    text-align: center;
    font-size: 14px;
    width: 70%;
}

.copy-right-section a {
    text-decoration: none;
    color: #A0DA7A;
}

@media(min-width: 1040px) {
    :root {
        --h1-font-size: 136px;
        --h2-font-size: 100px;
        --h3-font-size: 40px;
        --h4-font-size: 36px;
        --h5-font-size: 30px;
    }
    
    .header-data {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        align-items: center;
        justify-items: center;
    }

    .header-data h4 {
        grid-column: 1 / 2;
        padding-right: 20%;
    }

    .header-buttons {
        grid-column: 2 / 3;
        display: flex;
        flex-direction: row;
        gap: 43px;
    }

    .header-CTA-buttons {
        grid-column: 3 / 4;
        display: flex;
        flex-direction: row;
        gap: 39px;
        padding-left: 20%;
    }

    .header-CTA-buttons p:first-child{
        font-size: 18px;
        background-color: transparent;
        color: var(--secondary-color);
        font-weight: 500;
        padding: 18px 0px;
    }

    .header-CTA-buttons p {
        padding: 18px 35px;
        color: var(--primary-color);
        font-size: 18px;
        background-color: var(--call-to-action-color);
        border-radius: 100px;
    }

    .menu-icon {
        display: none;
    }

    main {
        padding: 146px 125px;
        gap: 298px;
    }

    .introduction-section h1 {
        padding: 0px 15%;
    }

    .introduction-section p {
        font-size: 24px;
        padding: 46px 24% 72px 24%;
    }

    .introductory-video-section {
        gap: 80px;
    }

    .introductory-video-section h2 {
        padding: 0px 14%;
    }

    .question-section {
        gap: 79px;
    }

    .question-section h2 {
        padding: 0px 20%;
    }

    .questions-area {
        flex-direction: row;
        padding: 120px 91px 0px 91px;
        align-items: flex-start;
        border-radius: 60px;
    }

    .desktop-question-image {
        display: block;
        padding-right: 99px;
    }

    .mobile-question-image {
        display: none;
    }

    .questions-cards {
        width: 842px;
        gap: 26px;
    }

    .question-closed {
        padding: 46px 26px;
        border-radius: 16px;
    }

    .question-opened {
        padding: 46px 26px;
        gap: 21px;
        border-radius: 16px;
    }

    .answer p{
        font-size: 20px;
        width: 60%;
    }

    footer {
        padding: 138px 140px;
        gap: 160px;
    }

    .learn-more-section {
        flex-direction: row;
        align-items: center;
        gap: 250px;
        padding-bottom: 134px;
        width: 100%;
    }

    .learn-more-section h1 {
        letter-spacing: -4%;
    }

    .learn-more-section div {
        margin-left: auto;
    }

    .learn-more-section div p {
        font-size: 24px;
        font-weight: 300;
        padding: 0;
        margin-bottom: 58px;
    }

    .learn-more-section div a {
        padding: 22px 42px;
        font-size: 22px;
    }

    .general-site-links-section {
        flex-flow: row nowrap;
        gap: 187px;
    }    

    .general-site-links-introduction {
        width: 22%;
        margin: 0;
    }

    .general-site-links-introduction p {
        font-size: 20px;
        line-height: 30px;
        font-weight: 200;
    }

    .all-links {
        display: flex;
        flex-direction: row;
        gap: 187px;
    }

    .links-group-explore {
        font-size: 22px;
        line-height: 36px;
    }

    .links-group {
        font-size: 22px;
        line-height: 36px;
        white-space: nowrap;
    }

    .copy-right-section {
        flex-direction: row;
        justify-content: space-between;
    }

    .copy-right-section p {
        font-size: 18px;
        white-space: nowrap;
        width: fit-content;
    }
}