:root {
    --primary-color: #ffffff;
    --secondary-color: #000000;
    --call-to-action-color: #3778FA;
    --question-area-background-color: #f3f3f3;
    --answer-text-color: #65676C;
    --h1-font-size: 2.875rem;
    --h2-font-size: 1.875rem;
    --h3-font-size: 1.875rem;
    --h4-font-size: 1.25rem;
    --h5-font-size: 1rem;
}

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--background-color);
    font-family: 'Space Grotesk', sans-serif;
}

h1 {
    font-size: var(--h1-font-size);
}

h2 {
    font-size: var(--h2-font-size);
}

h3 {
    font-size: var(--h3-font-size);
}

h4 {
    font-size: var(--h4-font-size);
    font-weight: 600;
}

h5 {
    font-size: var(--h5-font-size);
    font-weight: 500;
}

.header-data {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.25rem;
}

.header-data h4 {
    color: var(--call-to-action-color);
}

.header-buttons {
    display: none;
}

.header-CTA-buttons {
    display: none;
}

main {
    display: flex;
    flex-direction: column;
    gap: 6.875rem;
    padding: 3.75rem 1.25rem;
}

.introduction-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.introduction-texts {
    padding: 0rem 1.125rem;
}

.introduction-texts h1 {
    text-align: center;
    letter-spacing: -4%;
}

.introduction-texts p {
    text-align: center;
    font-size: 0.875rem;
    padding: 1.875rem 0rem;
}

.introduction-section img {
    margin-top: 1.25rem;
    width: 100%;
}

.introductory-video-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.1875rem;
}

.introductory-video-section h2 {
    text-align: center;
}

.introductory-video-section img {
    border-radius: 1rem;
    width: 100%;
}

.question-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
}

.question-section h2 {
    text-align: center;
}

.questions-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--question-area-background-color);
    padding: 3.125rem 1.375rem 4.375rem 1.375rem;
    border-radius: 1.25rem;
    gap: 2.5rem;
    width: 100%;
}

.mobile-question-image {
    width: 100%;
}

.desktop-question-image {
    display: none;
    padding-right: 6.1875rem;
}

.questions-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
    margin: 0px 0.625rem;
    width: 100%;
}

.question-closed {
    display: flex;
    flex-direction: row;
    align-items: center;    
    padding: 1rem 0.625rem;
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
}

.question-closed span {
    margin-left: auto;
}

.question-opened {
    display: flex;
    flex-direction: column;
    align-items: flex-start;    
    padding: 1rem 0.625rem;
    width: 100%;
    background-color: var(--primary-color);
    border-radius: 0.5rem;
}

.question {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.question span {
    margin-left: auto;
    line-height: 0.125rem;
    padding-bottom: 1rem;
    color: var(--call-to-action-color);
}

.answer {
    margin-top: 0.375rem;
    margin-right: 30%;
}

.answer p {
    color: var(--answer-text-color);
    font-size: 0.625rem;
}

footer {
    display: flex;
    flex-direction: column;
    background-color: var(--call-to-action-color);
    border-radius: 1.25rem 1.25rem 0rem 0rem;
    padding: 4.25rem 1.25rem 1.875rem 1.25rem;
    gap: 5rem;
}

.learn-more-section {
    display: flex;
    flex-direction: column;
    border-bottom: 0.0625rem solid var(--primary-color);
    padding-bottom: 5rem;
    padding-right: 30%;
}

.learn-more-section h1 {
    color: var(--primary-color);
    padding-bottom: 1.3125rem;
}

.learn-more-section p {
    font-size: 0.875rem;
    color: var(--primary-color);
    padding-bottom: 1.6875rem;
}

.learn-more-section a {
    text-decoration: none;
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--secondary-color);
    padding: 0.8125rem 1.3125rem;
    margin-right: auto;
    background-color: var(--primary-color);
    border-radius: 6.25rem;
}

.general-site-links-section {
    display: flex;
    flex-flow: row wrap;
    gap: 3.625rem;
}

.general-site-links-introduction {
    width: 50%;
    margin-right: 1.75rem
}

.general-site-links-introduction h3{
    font-size: var(--h3-font-size);
    color: var(--primary-color);
    font-weight: 500;
    padding-bottom: 1.0625rem;
}

.general-site-links-introduction p{
    font-size: 0.875rem;
    color: var(--primary-color);
    font-weight: 300;
    line-height: 1.375rem;
}

.desktop-all-links {
    display: none;
}

.links-group-explore {
    display: flex;
    flex-direction: column;
    font-size: 0.875rem;
    font-weight: 300;
    color: var(--primary-color);
    width: calc(100% / 3 - 3.625rem);
    gap: 1.375rem;
}

.mobile-botton-links {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
}

.links-group {
    display: flex;
    flex-direction: column;
    font-size: 0.875rem;
    font-weight: 300;
    color: var(--primary-color);
    width: auto;
    padding-top: 0.6875;
    gap: 1.375rem;
}

.copy-right-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.25rem;
}

.copy-right-section p {
    color: var(--primary-color);
    font-weight: 300;
    text-align: center;
    font-size: 0.875rem;
    width: 70%;
}

.copy-right-section a {
    text-decoration: none;
    color: #A0DA7A;
}

@media(min-width: 1040px) {
    :root {
        --h1-font-size: 8.5rem;
        --h2-font-size: 6.25rem;
        --h3-font-size: 2.5rem;
        --h4-font-size: 2.25rem;
        --h5-font-size: 1.875rem;
    }

    .header-data {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(1, 1fr);
        align-items: center;
        justify-items: center;
    }

    .header-data h4 {
        grid-column: 1 / 2;
        padding-right: 20%;
    }

    .header-buttons {
        grid-column: 2 / 3;
        display: flex;
        flex-direction: row;
        gap: 2.6875rem;
    }

    .header-CTA-buttons {
        grid-column: 3 / 4;
        display: flex;
        flex-direction: row;
        gap: 2.4375rem;
        padding-left: 20%;
    }

    .header-CTA-buttons p:first-child{
        font-size: 18px;
        background-color: transparent;
        color: var(--secondary-color);
        font-weight: 500;
        padding: 1.125rem 0px;
    }

    .header-CTA-buttons p {
        padding: 1.125rem 2.1875rem;
        color: var(--primary-color);
        font-size: 1.125rem;
        background-color: var(--call-to-action-color);
        border-radius: 6.25rem;
    }

    .menu-icon {
        display: none;
    }

    main {
        padding: 9.125rem 7.8125rem;
        gap: 18.625rem;
    }

    .introduction-section h1 {
        padding: 0rem 15%;
    }

    .introduction-section p {
        font-size: 1.5rem;
        padding: 2.875rem 24% 4.5rem 24%;
    }

    .introductory-video-section {
        gap: 5rem;
    }

    .introductory-video-section h2 {
        padding: 0rem 14%;
    }

    .question-section {
        gap: 4.9375rem;
    }

    .question-section h2 {
        padding: 0rem 20%;
    }

    .questions-area {
        flex-direction: row;
        padding: 7.5rem 5.6875rem 0rem 5.6875rem;
        align-items: flex-start;
        border-radius: 3.75rem;
    }

    .desktop-question-image {
        height: 100%;
        display: block;
        padding-right: 6.1875rem;
    }

    .mobile-question-image {
        display: none;
    }

    .questions-cards {
        width: 52.625rem;
        gap: 1.625rem;
    }

    .question-closed {
        padding: 2.875rem 1.625rem;
        border-radius: 1rem;
    }

    .question-opened {
        padding: 2.875rem 1.625rem;
        gap: 1.3125rem;
        border-radius: 1rem;
    }

    .answer p{
        font-size: 1.25rem;
        width: 60%;
    }

    footer {
        padding: 8.625rem 8.75rem;
        gap: 10rem;
    }

    .learn-more-section {
        flex-direction: row;
        align-items: center;
        gap: 15%;
        padding-bottom: 8.375rem;
        padding-right: 0rem;
        width: 100%;
    }

    .learn-more-section h1 {
        letter-spacing: -4%;
    }

    .learn-more-section div p {
        font-size: 1.5rem;
        font-weight: 300;
        padding: 0;
        margin-bottom: 3.625rem;
    }

    .learn-more-section div a {
        padding: 1.375rem 2.625rem;
        font-size: 1.375rem;
    }

    .general-site-links-section {
        flex-flow: row nowrap;
        gap: 11.6875rem;
    }    

    .general-site-links-introduction {
        width: 22%;
        margin: 0;
    }

    .general-site-links-introduction p {
        font-size: 1.25rem;
        line-height: 1.875rem;
        font-weight: 200;
    }

    .all-links {
        display: flex;
        flex-direction: row;
        gap: 11.6875rem;
    }

    .links-group-explore {
        font-size: 1.375rem;
        line-height: 2.25rem;
    }

    .links-group {
        font-size: 1.375rem;
        line-height: 2.25rem;
        white-space: nowrap;
    }

    .copy-right-section {
        flex-direction: row;
        justify-content: space-between;
    }

    .copy-right-section p {
        font-size: 1.125rem;
        white-space: nowrap;
        width: fit-content;
    }
}